<div class="hometext"><h1>Pizza was invented in Italy, perfected in New York City, bastardized in Chicago and is actually said to exist on the West Coast (if one can actually call that stuff pizza).</h1>


<br>
<h1>Ever wish you could log all of the wonderful places you've had a slice? With Pizza Tracker 3000 now you can! Sign-up for an account below and start tracking!</h1>


<br><br>

<h1 id="center"><a href="/signup">Click Here To Start Logging Your Slices</a></h1>






</div>
  
