<!doctype html>
<html>
  <head>
    <title>Pizza Tracker 3000</title>
    <link rel="stylesheet" href="http://iamthemodernman.biz/pizza/pizza.css" />

    <link rel="icon"
      type="image/x-icon"
      href="http://iamthemodernman.biz/pizza/pizzafavicon.ico">

  </head>
  <body>
    <nav>
      <div class="login"><h2>


      <% if logged_in? %>
      <a href="/logout">Log Out</a>

      <% else %>
      <a href="/signup">Sign Up</a> | <a href="/login">Log In</a><%end %></h2></div>
      <div class="logo">  <h1>Pizza Tracker 3000 <a href="/"><img src="http://i.imgur.com/8RpYebt.jpg" alt="Pizza Tracker 3000 Logo"  height="65" width="61"></a> Log A Slice • Find A Slice</h1>
      </div>





    </nav>
    <div class="content">
    <div class="contentbox">
      <%= yield %>


    </div>
    </div>
  </body>
</html>
